@import '../../../style/_vars.scss';

.participant-list-container{
  outline: 1px solid black;
  width: 25%;
  height: 70%;
  float: right;
  *{
    margin: 1%;
  }
  .title{
    background-color: $color-primary;
    h5{
      width: 88%;
      color: $color-white;
    }
    i{
      width: 8%;
      text-align: right;
    }
  }
  h6{
    font-style: italic;
  }

}
