@import '../../../style/_vars.scss';

.open-channels-container{
  height: 80%;

  .title{
    background-color: $color-secondary;
    h5{
      width: 90%;
      padding-left: 2%;
      color: $color-white;
    }
    i{
      width: 10%;
      cursor: pointer;
      text-align: right;
    }
  }
  h6{
    font-style: italic;
  }
}

div.open-channel.div{
  cursor: default;
}
