@import '../../../style/_vars.scss';

.chat-container{
  outline: 1px solid black;

  .title{
    background-color: $color-primary;
    h5{
      width: 90%;
      color: $color-white;
      padding-left: 1%;
    }
  }
}

.chat-submit{
  input{
    width: 90%;
    margin: 0 1%;

  }
  .send-message-button{
    width: 8%;
  }
}

div.cardaction-delete{
  width: 10%;
  display: inline-block;
}
