@import '../../../style/_vars.scss';

.create-channel-container{
  outline: 1px solid black;
  height: 10%;

  .title{
    background-color: $color-primary;

    h5{
      width: 90%;
      color: $color-white;
      margin: 2px 0 0 0;
    }
  }

  .add-channel-button{
    margin: 1% !important;
    width: 98% !important;
  }
}
